/******************************************************************************
 * FONTS
 ******************************************************************************/

/******************************************************************************
 * Sf-pro
 ******************************************************************************/

@font-face {
  font-family: "sfpro";
  src: url("/assets/fonts/sf-pro-display-font/SF-Pro-Display-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/assets/fonts/sf-pro-display-font/SF-Pro-Display-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/assets/fonts/sf-pro-display-font/SF-Pro-Display-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/assets/fonts/sf-pro-display-font/SF-Pro-Display-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/******************************************************************************
 * Inter
 ******************************************************************************/

@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/static/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/static/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/static/Inter_18pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-family: "inter";
  font-weight: 300; // This sets the default weight to Light
  font-size: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
    font-family: "inter";
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
